*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
projectFilesBackup/.idea/workspace.xml
app/releases/
app/release/
.idea/caches/
kotlitex/copy.bat
tegashiki/build/.transforms/
kotlitex/build/.transforms/
